<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="Datory" version="0.1.13" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="SiteServer.Plugin" version="2.3.4" targetFramework="net452" />
  <package id="SqlKata" version="1.1.7" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>