{
  "name": "photo",
  "displayName": "多图内容",
  "description": "SiteServer CMS 多图内容插件",
  "publisher": "ss",
  "version": "1.0.0",
  "website": "http://www.siteserver.cn",
  "executeFileName": "bin/SS.Photo.dll",
  "icon": "logo.svg",
  "includes": [
    "admin/",
    "logo.png",
    "bin/SS.Photo.dll",
    "plugin.jsons"
  ]
}